/*=============================================================================
// Atigeo xUI Library: _xUI.BackgroundImage.scss
//-----------------------------------------------------------------------------
// NOTES:
//
//-----------------------------------------------------------------------------
// 2014-05-06 JRM - Created.
//===========================================================================*/

/*---------------------------------------------------------------------------*/
/* Background Image declarations.
/*---------------------------------------------------------------------------*/

@mixin centered-background-image($image){
  @if $image != "" {
    background-image: url($image);
  }
  background-repeat: no-repeat;
  background-position: center;
}
